@using Blog.Data.ViewModels.Tool
@model ToolDeleteViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete Tool";
}

<div class="container">
    <h1>Delete Tool</h1>

    <p>Are you sure you want to delete this tool?</p>

    <dl class="row">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Created By</dt>
        <dd class="col-sm-9">@Model.Creator</dd>

        <dt class="col-sm-3">Creation Date</dt>
        <dd class="col-sm-9">@Model.CreationDate</dd>
    </dl>

    <form asp-controller="Tools" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>