@using Blog.Data.ViewModels.Video;

@model VideoDeleteViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete AI Video";
}

<div class="container">
    <h1>Delete AI Video</h1>

    <p>Are you sure you want to delete this tool?</p>

    <dl class="row">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Url</dt>
        <dd class="col-sm-9">@Model.Url</dd>

        <dt class="col-sm-3">Creation Date</dt>
        <dd class="col-sm-9">@Model.UploadDate</dd>
    </dl>

    <form asp-controller="Videos" asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a asp-controller="Videos" asp-action="Dashboard" class="btn btn-secondary">Cancel</a>
    </form>
</div>