@using Blog.Data.ViewModels.PricingStrategy
@model ICollection<PricingStrategyViewModel>

<div class="row">
    @foreach (var pricingStrategy in Model)
    {
        <div class="col-3">
            <div class="form-check">
                <input type="checkbox" name="AssignedPricingStrategies" value="@pricingStrategy.Id" class="form-check-input" />
                <label class="form-check-label">@pricingStrategy.Strategy</label>
            </div>
        </div>
    }
</div>