@using Blog.Data.Models.ViewModels.Tag
@model ICollection<TagViewModel>

<div class="row">
    @foreach (var tag in Model)
    {
        <div class="col-3">
            <div class="form-check">
                <input type="checkbox" name="AssignedTags" value="@tag.Id" class="form-check-input" />
                <label class="form-check-label">@tag.Value</label>
            </div>
        </div>
    }
</div>